@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    background-color:  #2C2D34;
    color: white;
    font-family: 'Inter', sans-serif;

    
  }

  .triangle{
    @apply border-b-[20px] border-r-[20px] border-l-[20px] border-b-[#F2910A] border-x-transparent

  }
  
  .cursor{
    cursor: url(poai.cur) 2 2, grab;
  }
 
}